
/* Keller moved body from the index.css file on 6/6/18 since that was the only style there and now the custom styles are all in one place. */

.text-center {
  text-align: center;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  background-color: lightgrey;   
}
.primary-color{
  background-color: #3984D3;
  color:white
}

.App {
  padding: 0px;
  /* text-align: center; */
}

.pageTitle {
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}



.btn {
  margin: 5px;
}

.opening-btn{
  border: 0;
  box-shadow: none;
}
/* Above were added by Keller on 6/6/18 */

p {
  font-size: 16px;
}

h1 {
  padding-top: 30px;
  border-bottom: solid 1px grey;
  margin-bottom: 10px;
}

h4 {
  margin-bottom: 15px;
}

.container dt,.container dd {
  width:auto;
  margin-left:auto;
  margin-bottom: 0px;
  display:inline-block;
}

.container dd {
  margin-left: 5px;
}

.openingContainer {
  position: relative;
}

.displayText {
  position: absolute; 
  margin: 5px 0 22px 0;
}

/* ////// Cover Page styling ////// */

.sliderImgOne {
  background-image: url(./components/Shared/images/neighborhood_color.jpg);
}
.sliderImgTwo {
  background-image: url(./components/Shared/images/american_neighbor_color.jpg)
}
.sliderImgThree {
  background-image: url(./components/Shared/images/handshake_3_color.jpg)
}

.imgContainer {
  display: flex;
  height: 475px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.search-opening {
  margin-top: 200px
}
.imgContainer a {
  width: 100%
}

.inputBox {
  margin-top: 30px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}

.marketing {
  margin-top: 100px;
  margin-bottom: 100px;
}

.headers {
  text-align: center;
}



/* Footer css */

.footer-container {
  padding-top: 20px;
  height: 165px;
  text-align: center;
  color: white;
}
.footer-links {
  padding-bottom: 15px;
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: none;
}
.footer-container h6 {
  opacity: 0.5;
}
.footer-container img {
  padding-bottom: 20px;
  opacity: 0.5;
  width: 150px;
  height: 75px;
}

/* ////// End of Cover Page Styling ////// */

/* this is for the cool step list items */
.step {
  margin-left: 0;
  padding-left: 0;
  margin-top: 10px;
  counter-reset: item;
  list-style-type: none;
  
}

.step li {
  margin: 15px;
  list-style-position: inside;
  text-indent: -6em;
  padding-left: 6em;
}

.step li:before {
  content: 'Step ' counter(item, decimal) ' - ';
  counter-increment: item;
  font-weight: bold;
  margin-right: 10px;
  font-size: 100%;
  background-color: #28a745;
  color: white;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 3px;
}

.lead {
  font-weight: bold;
}

.borderless {
  border: none;
  border-color: transparent;
}

.btn-map {
  margin-top: 10px;
  margin-bottom: 0px;
}

.google-maps-container{
  height: calc((100vh - 220px)/2)
}
.search-results-container {
  height: calc((100vh - 220px)/2);
  overflow: auto;
  overflow-x: hidden
 
}




/* mobile phones */
@media (max-width: 768px) {
  .imgContainer {
    height: 350px
  }
  .logo{
    width: calc(100vw - 120px);
  }
  .get-started-container{
    padding-left: 0px;
    padding-right: 0px
  }   
  
} 
@media (min-width: 960px) {

  .white-background{
    background-color: white
  }
}
@media (max-width: 1024px){
  #eachsearchresult {
    width: 100%
  }
}
@media (min-width: 1025px){
  #eachsearchresult {
    width: 48%
  }
}
@media (min-width: 768px){
  
  .btn-map {
    /* margin-left: 10px; */
    margin-bottom: 10px;
  }
  .google-maps-container{
    height: calc(100vh - 190px)
  }
  .search-results-container{
    height: calc(100vh - 190px)
  }
 
}

@media (min-width: 450px) { 
  .container dl { 
      line-height: .5;  
  }


}

.order {
  border-bottom-color: black;
  border-bottom: 1px solid;
  margin-bottom: 15px;

}


.result {
  /* display: flex; */
  /* flex-direction: row; */
  /*flex-wrap: wrap; */
  /* border-bottom-color: black;
  border-bottom: 1px solid; */
  margin: 6px;
  font-size: 12px;
  display: 'flex';
  justify-content: 'space-between';
}

.result dl {
  font-size: 12px;
  line-height: 1;
  margin: 0;
}

.result .row {
  line-height: 1;
  padding: 0;
}

/* .result button {
  padding: 0;
  border: 1px solid;
  text-align: right;
} */

.name a {
  color: black;
  font-weight: 600;
  margin: 3px;
  
}

/* .image {
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} */

.fa-user {
  align-content: center;
}
.review {
  border-bottom: 1px solid;
  margin-bottom: 15px;
  border-color: rgb(168, 169, 170)
}

.place-review {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-top: 20px;
  box-sizing: border-box;

}



#eachsearchresult {
  box-sizing: border-box;
  border: solid 1px rgb(228, 228, 228);
  border-radius: 5px;
  min-height: 200px;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  /* margin-left: 15px; */
  box-shadow: 1px 1px 6px rgb(160, 160, 160);
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 10px;

  /* flex: 50%; */

 
}

#searchResultOutterBox {
  display: flex;
  flex-direction: row;
	flex-wrap: wrap;
  
}


#searchResultFirstRow {
  margin-top: 5px;
}

.navsize {
  font-size: 18px;
}

label {
  font-size: 18px;

}
.informant-info{
  margin-bottom: 80px;
}

.star {
  /* width: 850px; */
  margin-left: 5px;
  margin-bottom: 10px;
}


